.heading{
    text-align: center;
   margin-top: 2vh;
}
.map{
    margin-top: 4vh;
}
.mess{
    margin-top: 6vh;
    text-align: center;
}
.messa{
    margin-top: 2vh;
    text-align: center;
    
}
.btn-1 input{
    margin-top: 2vh;
    
}