.starting{
    margin-top: 7vh;
    border: 1px solid rgb(20, 20, 20);
    background-color: rgb(243, 243, 243);
   
}
.delivery{
    text-align: center;
}
.starting-2{
    margin-top: 7vh;
}
.starting-3{
    margin-top: 5vh;
}